<script type="text/javascript">
  $(document).ready(function() {

    // Custom method format
    // $.validator.addMethod("email_tip", function(value) {
    //   return value != 'you@site.com';
    // }, "Must be different than 'you@site.com'");

    // ###is there a way I assume that as the persion enters things a call can be made to check if the username etc is available?
    //    does this require ajax or something?
    $("#signupForm").validate({

      rules: {
        "user[username]": "required",
        "user[email]": {
          required: true,
          email: true
        },
        "user[password]": "required",
        "user[password_confirmation]": "required",
          // equalTo: "user[password]"
       
        // ref -- other format
        // "user[password]": {
        //    required: true,
        //    email_tip: true,  --custom method call
        // },
      },

      messages: {
        "user[username]": "Please specify your name",
        "user[email]": {
          required: "We need your email address to contact you",
          email: "Your email address must be in the format of name@domain.com"
      },
   
    }


      // errorPlacement: function(error, element) {
      //  error.appendTo( $("label:first") );
      // },

   });

  });
</script>


<% @page_title = "UserAuth | Signup" %>
<div class= "Sign_Form">

  <h1>Sign Up</h1>
  
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}, :html => { :id => "signupForm"}) do |f| %>

    <%= f.label :username, "Username:" %>
    <%= f.text_field :username%>

    <%= f.label :email, "Email:" %>
    <%= f.text_field :email%>

    <%= f.label :passowrd, "Password:" %>
    <%= f.password_field :password%>
    
    <%= f.label :password_confirmation, "Password Confirmation:" %>
    <%= f.password_field :password_confirmation%>

    <%= f.submit :Submit %>
  <% end %>

  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
        <li>* <%= message_error %></li>
      <% end %>
    </ul>
  <% end %>
</div>