<h1>Listing resources</h1>
<%binding.pry%>
<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.name %></td>
    <td><%= resource.link %></td>
    <td><%= Vote.where(:resource_id => resource.id).count %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Vote up', url_for(:controller => 'resources', :action => 'like', :resource_id => resource.id), :method => :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
