<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p>
  <b>Link:</b>
  <%= @resource.link %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>

<p>
  <b>Category:</b>
  <%= @resource.category.name %>
</p>

<p>
  <b>Votes:</b>
  <%= Vote.where(:resource_id => @resource.id).count%>
</p>

<% # VOTE ...### don't know if can skip to submit button, rather than using forms? %>
<%= form_tag("/resources/like", :method => "post") do %>
  <%= hidden_field_tag(:resource_id, @resource.id) %>
  <%= submit_tag("Vote up") %>
<% end %>

<% # DISPLAY COMMENTS%>
<div id="comments">
  <p><b>Comments:</b></p>
  <% @resource.comments.each do |comment|%>
    <%= render comment %>
  <%end%>
</div>

<% # NEW COMMENT %>
<%= render :partial => 'comments/form', :locals => {:resource => @resource.id} %>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
